# Lab1

1. Create a string variable called 'course_name' with the value "Python for Non-Majors", and print its length. 

hint: len()

In [1]:
course_name = 'Python for Non-Majors'
len(course_name)

21

2. Rename the following invalid variable names to follow Python naming rules: 1st_name, @age, Full-Name, class, list.

In [3]:
first_name = 'KEN'
age = 28
full_name = 'KEN ROE'
class1 = 402
list1 = [first_name, age, full_name, class1]
print(list1)

['KEN', 28, 'KEN ROE', 402]

3. Calculate the result of 5 multiplied by 3, divided by 2, and raised to the power of 4. Use parentheses to ensure correct precedence.

In [60]:
result = (5 * 3 / 2)**4
print(result)

3164.0625


4. Print the values of three variables on the same line, separated by commas and a space.

	name = "Alice", age = 30, city = "New York"

In [9]:
name='Alice'
age=30
city='New York'
print(name, age, city, sep=', ')

Alice, 30, New York

5. Create a variable containing a string and reassign it to an integer.

In [61]:
my_str = 'hello'
my_str = 5
print(my_str)

5

6. Check the data type of a float variable and convert it to an integer.

In [63]:
my_float = 3.14159
type(my_float)
my_float1 = int(my_float)
type(my_float1)

int

7. Given an integer and a float, calculate their sum and product. Store the results in two separate variables and print them.

In [65]:
my_int = 10
my_float = 3.14159
sum = my_int + my_float
product = my_int * my_float
print('sum = ', sum, 'product = ', product, sep=' ')

sum =  13.14159 product =  31.4159

AttributeError: ignored

8. Use comparison and logical operators to evaluate a condition. The comparison should check if x is less than y, and if y is less than z. Print the value of result to the console.

	x = 10, y = 20, z = 30

In [37]:
x=10
y=20
z=30
if x < y:
    print(x)
elif y < z:
    print(y)

10

# Lab2

1. Create a string of 10 asterisks using repetition, and print the length of the string.

	text = “*”

In [38]:
text = '*'
print(text*10)

**********

2. Convert a string to title case and print the result. hint: title()

	text = "hello world"

In [39]:
text = "hello world"
print(text.title())

Hello World

3. Slice a string to obtain every second character, starting from the first character.

	text = "Python is fun!"

In [45]:
text = "Python is fun!"
text[::2]

'Pto sfn'

4. Create a string containing double quotes and a newline character.

	text = This is a string with "double quotes" and a newline

In [66]:
text = "This is a string with \"double quotes\" and a newline\n"
print(text)

This is a string with "double quotes" and a newline

5. Use the 'sep' argument in the print() function to print a list of items separated by commas.

	Items = apple, banana, orange

In [50]:
Items = 'apple', 'banana', 'orange'
print(Items, sep=',')

('apple', 'banana', 'orange')

6. Get user input for a floating-point number and print its square.

In [51]:
my_float = float(input("input float number"))
print(my_float**2)

input float number3.14
9.8596

7. Create a string 'email' and use string methods to replace '@' with ' [at] ' and '.' with ' [dot] '.

	email = "john.doe@example.com"

hint: replace() in str

In [67]:
email = "john.doe@example.com"
email = email.replace('@', '[at]').replace('.', '[dot]') #메소드 체이닝
print(email)

john[dot]doe[at]example[dot]com

# Project

1. Text Analysis

Create a program that performs a simple analysis of a user-provided text passage.

<br>
Input:

The quick brown fox jumps over the lazy dog. The weather is great today. Let's go outside and play!

<br>
Instruction:

  * Prompt the user for a text passage.
  * Ignore case and punctuation.
  * Calculate and print the total number of characters, words, and sentences in the passage.
  * Calculate and print the average length of words and sentences.
  * Calculate and print the frequency of each vowel (a, e, i, o, u) and the percentage of vowels in the text.
  * Calculate and print the frequency of each word in the passage.

In [59]:
msg = input('input message')
msg = msg.lower()

input messageThe quick brown fox jumps over the lazy dog. The weather is great today. Let's go outside and play!
the quick brown fox jumps over the lazy dog. the weather is great today. let's go outside and play!

2. Web Article Text Analysis


You'll use the BeautifulSoup library to extract text from an article on a news website like the Washington Post, and then perform the same text analysis as before.

<br>

**Input:**

* https://www.washingtonpost.com/national-security/2023/03/31/trump-arraignment-secret-service/

* https://v.daum.net/v/20230401115141365

<br>

**Install the required libraries:**

```python
pip install bs4
pip install requests
```

In [ ]:
!pip install bs4
!pip install requests

In [ ]:
import re
import requests
from bs4 import BeautifulSoup

url = input("Enter the URL of the news article: ")
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
article = soup.find("article")
paragraphs = article.find_all("p")
text = " ".join(p.get_text() for p in paragraphs)
print('text: ', text)