In [ ]:
type('hello')
type(15)
type((1,0,0))
1,000,000
a,b,c = 1,000,000
print(a,b,c)
a,b = b,a
type(True)

In [ ]:
name = 'a'
Name = 'b'
print(name,Name)

In [ ]:
n=5
id(n)

In [ ]:
n
n=7
n

In [ ]:
s='hello'
s

In [ ]:
for i in [1,2,3]:
    print(i)

In [ ]:
for c in s:
    print(c)

In [ ]:
for c in ['h','e','l','l','o']:
    print(c)

In [ ]:
lst = [1,2,3]
if 2 in lst:
    print('contains')

In [ ]:
if 'h' in s:
    print('contains')

In [ ]:
for i in range(5):
    print(i)

In [ ]:
msg='hello'
msg2="hello"
print(msg,msg2)

In [ ]:
msg3='''
ddd
ddd
ddd
'''
print(msg3)

In [ ]:
x = '''
"What's your name.?" I asked
He said "Bond, James Bond"
'''
print(x)

In [ ]:
'good' + 'bye'
('a'+'b') *3
'a'*3 + 'b' *3
'ha' * 3

In [ ]:
print('*' * 3, '*' * 2, '*', sep='\n')

In [ ]:
len('string')
eval('23')

In [ ]:
m='3'
n='5'
m+n

In [ ]:
m=3
n=5
eval('m+n')

In [ ]:
str='    Python is good    '
str.title()
str.strip()
min(str)
max(str)

In [ ]:
str='pythonisgood'
data.a().b().build() # chained method

In [ ]:
str='pythonisgood'
str[0]
len(str)
str[len(str)-1]
for i in range(len(str)):
    print(str[i])

In [ ]:
n=5
print(str[:n], str[n:], sep='')

In [ ]:
str[-1]

In [ ]:
str[str.find('i')]

In [ ]:
str[::-1] #문자열 뒤집기

In [ ]:
for i in range(1,5,2):
    print(i)

In [ ]:
print(1,2,3, sep='\n') # sep -> seperate

In [ ]:
print('hahaha', end='')
print('hehehe')

In [ ]:
print(*lst) # *은 언팩

In [ ]:
age=20
name='kim'
print('''{0} was {1} years old when he wrote the book A byte of Python.'''.format(name,age))

In [ ]:
print('kim', 100, sep=',')

In [ ]:
print('hel \' lo')

In [ ]:
print("he said, \"bond, james bond.\"")

In [ ]:
print(r'hello\n')

In [ ]:
#input
5
12345

#output
15

In [ ]:
n = int(input('enter a number : '))
for i in range(n):
    print(i)

In [ ]:
fullName = input('input name')
n = fullName.rfind(' ')
print('Last name:', fullName[n+1:])
print('First name(s):', fullName[:n])